<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
<script src="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/highlight.js/11.4.0/highlight.min.js" type="application/javascript"></script>

<script th:src="@{/assets/js/main.js}"></script>
<script th:src="@{/assets/js/daisy.js}"></script>
<script>
    hljs.highlightAll();
    // loadHotPost(5, "@{${site.url}}", '${settings.api_authorization!}')
    lightBox('.markdown-body img', 'post')
    generateCatalog()
    var url = location.href;
    var urlstatus = false;
    $(".nav li a").each(function () {
        if ((url + '/').indexOf($(this).attr('href').replace('.html', '')) > -1 && $(this).attr('href').replace('.html', '') != '/') {
            $(this).addClass('text-black font-semibold tracking-wide');
            urlstatus = true;
        } else {
            $(this).removeClass('text-black font-semibold tracking-wide');
        }
    });
    if (!urlstatus) {
        $(".nav li a").eq(0).addClass('text-black font-semibold tracking-wide');
    }
</script>

<th:block th:if="${theme.config.basics.instantclick}">
    <script src="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/instantclick/3.1.0/instantclick.min.js" type="application/javascript" data-no-instant></script>
    <script>
        InstantClick.on('change', function (isInitialLoad) {
            if (isInitialLoad) {
                return
            }
            if (typeof _hmt !== 'undefined') {
                _hmt.push(['_trackPageview', location.pathname + location.search]);
            }
        });
        InstantClick.init()
    </script>
</th:block>

