<header class="hidden fixed w-[330px] px-16 h-screen space-y-16 lg:flex flex-col justify-start content-start bg-white">
    <div class="h-1/6 min-h-[100px]"></div>
    <div class="logo max-w-[100px]">
        <a th:href="@{${site.url}}" th:title="${site.title}">
            <img class="logo_img" th:src="${site.logo}" th:alt="${site.title}">
        </a>
    </div>
   <th:block th:replace=~{modules/widgetMenu} />
    
    <th:block th:replace=~{modules/headerfooter}  />

</header>


<header class="lg:hidden bg-white sticky top-0">
    <div class="flex justify-between p-4">
        <div class="logo">
            <a th:href="@{${site.url}}" th:title="${site.title}">
                <img th:src="${site.logo}" th:alt="${site.title}" style="max-width:15%" >
            </a>
        </div>
        <div class="search flex justify-start text-767676 text-lg space-x-3" style="left: -10%; position: relative; min-width: 10rem;">
            <div class="flex justify-start content-center">
                <a href="javascript:SearchWidget.open()" class="inline-flex hover:text-black block w-full hover:tracking-wider duration-300">
                    <div class="border-b border-stone-300 " style="margin-right: 1rem;"></div>
                    <i class="ri-search-2-line"></i> 
                </a>
            </div>
                
            </div>
        <div class="menu">
            <a onclick="toggleNav()">
                <i class="ri-menu-3-line"></i>
            </a>
        </div>
    </div>
    <div class="mobile-nav right-0 bg-white h-full w-full" id="mobileNav" style="display: none">
        <ul class="text-767676 space-y-6 py-6">
            <div class="flex justify-center">
                <th:block th:replace=~{modules/widgetMenu} />
            </div>
            <div class="flex justify-center">
                <th:block th:replace=~{modules/headerfooter} />
            </div>
        </ul>
    </div>
                  
    
</header>

