<nav th:fragment="page(path,pageInfo)">
    <div class="bg-white p-4 hover:shadow-lg duration-300 mb-12">
        <nav aria-label="Page navigation">
            <ul class="flex justify-between list-style-none space-x-3">
                    <li class="page-item">
                            <a class="page-link relative block py-1.5 px-3 rounded border-0 bg-transparent outline-none transition-all duration-300 rounded text-gray-800 hover:text-gray-800 hover:bg-gray-200 focus:shadow-none"
                            th:if="${pageInfo.hasPrevious}" th:href="${pageInfo.prevUrl}">上一页</a>
                    </li>
                    <li class="page-item">
                        <span class="page-link relative block py-1.5 px-3 rounded border-0 outline-none transition-all duration-300 rounded text-gray-800 text-gray-800 bg-gray-200 shadow-none">
                            [[${pageInfo.page}]] / [[${pageInfo.totalPages}]]
                        </span>
                    </li>

                    <li class="page-item">
                            <a class="page-link relative block py-1.5 px-3 rounded border-0 bg-transparent outline-none transition-all duration-300 rounded text-gray-800 hover:text-gray-800 hover:bg-gray-200 focus:shadow-none"
                            th:if="${pageInfo.hasNext}" th:href="${pageInfo.nextUrl}">下一页</a>
                    </li>
            </ul>
        </nav>
    </div>

</nav>