<div class="nav">
    <style>
        /* 为箭头图标添加平滑的过渡效果 */
        .rotate-90 {
            transform: rotate(180deg);
        }
        .transition-transform {
            transition: transform 0.3s ease-in-out;
        }
    </style>
        <ul class="text-767676 space-y-2">
            <li th:each="menuItem : ${menuFinder.getPrimary().menuItems}"
                th:with="hasChildren=${not #lists.isEmpty(menuItem.children)}"
                th:attr="data-has-children=${hasChildren}">

                <!-- 顶级菜单项 -->
                <div th:if="${hasChildren}" class="flex  hover:text-black block w-full hover:tracking-wider duration-300" style="cursor: pointer;"
                    data-toggle>
                    <span th:text="${menuItem.status.displayName}"></span>
                    <svg style="width: 24px;height: 24px; margin-left:3rem"  data-icon  viewBox="0 0 24 24">
                        <polyline points="6,9 12,15 18,9" 
                                fill="none" 
                                stroke="rgb(118, 118, 118)" 
                                stroke-width="2" 
                                stroke-linecap="round" 
                                stroke-linejoin="round"/>
                    </svg>
                </div>

                <!-- 没有子菜单，直接跳转 -->
                <a class="hover:text-black block w-full hover:tracking-wider duration-300"
                th:href="@{${menuItem.status.href}}"
                th:if="${!hasChildren}"
                th:text="${menuItem.status.displayName}"></a>

                <!-- 子菜单项 -->
                <ul class="space-y-1 hidden border-l border-gray-200 ml-2 my-2 pl-2" data-submenu>
                    <li th:each="submenuItem : ${menuItem.children}">
                        <a class="hover:text-black block w-full hover:tracking-wider duration-300"
                        th:href="@{${submenuItem.status.href}}"
                        th:text="${submenuItem.status.displayName}"></a>
                    </li>
                </ul>
            </li>
        </ul>
        
</div>
