<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="https://www.thymeleaf.org"
  th:fragment="html (head,title,content)"
>
  <head>
    <title th:text="${title}"></title>

    <th:block th:if="${head != null}">
      <th:block th:replace="${head}" />
    </th:block> 
    <th:block th:if="${head == null}">
      <th:block th:replace=~{modules/head} />
    </th:block> 
  </head>
  <body class="bg-[#f9f9f9]">
    <th:block th:replace=~{modules/header} />
    <section>
      <th:block th:replace="${content}" />
    </section>

    <th:block th:replace=~{modules/footer} />
  </body>
</html>
