<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
    th:replace="~{layout :: html(head = null,title='链接 - '+ ${site.title},content = ~{::content})}">
<th:block th:fragment="content">

    <div class="flex flex-col lg:flex-row">
        <div class="flex flex-col lg:pl-[330px] w-full">
            <div class="page-title my-20 mx-auto lg:page-mqx-width w-full lg:px-[40px]">
            </div>
            <div class="flex flex-col lg:flex-row w-full mx-auto lg:page-mqx-width lg:space-x-8 lg:px-[40px]">
                <div class="page-content lg:w-[100%] block overflow-hidden">
                    <div class="page-title  mx-auto lg:page-mqx-width w-full lg:px-[40px] flex flex-col space-y-3">
                        <th:block th:each="group : ${groups}">
                            <h2 class="mt-2 text-lg font-medium dark:text-slate-50" th:text="${group.spec.displayName}"></h2>
                            <div class="inline-block px-6 py-2.5 bg-gray-200 text-gray-700 leading-tight uppercase rounded hover:shadow-lg hover:bg-gray-300 hover:hover:shadow-lg duration-300 focus:bg-gray-300 focus:hover:shadow-lg duration-300 focus:outline-none focus:ring-0 active:bg-gray-400 active:hover:shadow-lg duration-300 transition duration-150 ease-in-out"
                                th:each="link : ${group.links}">
        
                                <a th:href="@{${link.spec.url}}" target="_blank" th:text="${link.spec.displayName}">$</a>
                            </div>
        
                        </th:block>
                        <div id="comment-pos">
                            <div style="height: 10rem;"></div>
                            <halo-comment group="content.halo.run" kind="Links" th:attr="name=links"
                                colorScheme="'light'" />
                        </div>
        
        
                    </div>
        
                </div>
                
              </div>
            
        </div>

    </div>
</th:block>

</html>